<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ gollum_launchd_label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/bundle</string>
    <string>exec</string>
    <string>puma</string>
    <string>--bind</string>
    <string>{{ gollum_bind }}</string>
    <string>{{ gollum_rackup }}</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>{{ gollum_home }}</string>
  <key>UserName</key>
  <string>{{ gollum_user }}</string>
  <key>StandardOutPath</key>
  <string>{{ gollum_log }}</string>
  <key>StandardErrorPath</key>
  <string>{{ gollum_log }}</string>
</dict>
</plist>
